
  <div class="accordion" id="accordionExample">
    <div *ngFor="let item of postslist; let i = index" class="accordion-item" (click)="navigateToPostItem(item.id)">
      <h2 class="accordion-header" id="heading{{i}}">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          {{ item.title }}
        </button>
      </h2>
      <div
        id="collapse{{i}}"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          {{ item.content }}
        </div>
      </div>
    </div>
  </div>
  
